.navArrowsContainer {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.leftArrowCool,
.rightArrowCool,
.leftArrowWarm,
.rightArrowWarm {
  -webkit-appearance: none;
  padding: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  line-height: 0;
  transition: opacity 0.1s;
}

.leftArrowCool,
.rightArrowCool {
  color: var(--brand-cool-dark-text);
}

.leftArrowWarm,
.rightArrowWarm {
  color: var(--brand-warm-dark-text);
}

/* Disable hover on mobile */
@media (min-width: 992px) {
  .leftArrowWarm:hover,
  .leftArrowCool:hover,
  .rightArrowWarm:hover,
  .rightArrowCool:hover {
    opacity: 0.6;
  }
}

.leftArrowWarm:disabled,
.leftArrowCool:disabled,
.rightArrowWarm:disabled,
.rightArrowCool:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

@-moz-document url-prefix() {
  .navArrowsContainer {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}
