.date {
  font-family: 'PT Root UI';
  font-weight: bold;
  font-size: 11px !important;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.4rem;
  white-space: nowrap;
  letter-spacing: 0.02em;
}

.wrapper {
  margin-left: 0;
  width: auto;
}
