node_modules/
ios/App/Pods/
ios/App/build/
ios/App/App/public/
ios/App/App/capacitor.config.json
ios/App/App/config.xml
ios/DerivedData/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/.idea/
android/capacitor-cordova-android-plugins/
*.keystore
keystore.properties
store/_storefont.ttf
